/* add custom styles */

/*Colors:
  background: #E6FFEC
  default melody square: #57C972
  default drum square: #217D36
  active square: #C95761
  sweeper: white
  active with sweeper: #7D0A14


*/

h1, h2, h3, h4, h5, h6, p {
  color: #217D36;
}

h1 {
  text-align: center;
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

body {
  background-color: #E6FFEC;
}

.singleSquare,
.beatMarkers {
  height: 2.25vw;
  width: 2.25vw;
  margin: .125vw;
  display: inline-block;
}

.beatMarkers {
  color: #217D36;
  background-color: #E6FFEC;
}

.beatMarkers p {
  padding: 0 .85vw;
  font-size: 1vw;
  /*border: .1vw solid #000;*/
}


.drums {
  background-color: #217D36;
}

.melody {
  background-color: #57C972;
}

.active {
  background-color: #C95761;
}

.squareGrid {
  width: 40vw;
  height: 40vw;
  margin: 0 30vw;
}

.playSurface {
  width: 100vw;
  height: 100vw;
  background-color: #E6FFEC;
}

.melodyLabel,
.percLabel {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  display: block;
  position: relative;
  bottom: 51vw;
  right: 25vw;

}

.melodyLabel {
  bottom: 75vw;
}

.playButton {
  margin-left: 47vw;
}

.sweeper {
  background-color: powderblue;
  opacity: .98;
}
